.root {
  display: grid;
  gap: var(--spacing-16);

  .row {
    display: grid;
    grid-template-columns: 5fr 20fr 25fr 15fr 15fr 20fr;
    gap: var(--spacing-32);
  }

  .skeleton {
    width: 100%;
    height: var(--spacing-16);
    border-radius: var(--radius-4);

    background-color: var(--color-global-bgcard);

    background: linear-gradient(
      90deg,
      var(--color-text-5) 25%,
      var(--color-text-10) 37%,
      var(--color-text-5) 63%
    );
    background-size: 400% 100%;

    animation-name: skeleton;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

@keyframes skeleton {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
