.root {
  ol li,
  ul li {
    margin: 0.5em 0;
  }

  .exampleBlock {
    margin-top: var(--spacing-24);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--spacing-16);

    > div {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-8);
      align-items: flex-start;
    }
  }
}
