@import "util.scss";

/*
  Generate css variables for each theme
 */
html {
  @each $name, $theme in map-keys($themes) {
    &.#{$name} {
      @each $paletteName, $palette in map-get($themes, $name) {
        @each $paletteColorName, $paletteColor in $palette {
          --color-#{'' + $paletteName}-#{'' + $paletteColorName}: #{'' +
            $paletteColor};
        }
      }
      @each $name, $value in map-get($shadows, $name) {
        --shadow-#{'' + $name}: #{$value}
      }
    }
  }
}

/*
  Generate utility classes
 */
@each $palette, $grades in map-get($themes, nth(map-keys($themes), 1)) {

  // Buttons
  @include generateButtonForPalette($palette);

  // Other
  @each $grade, $_ in $grades {
    .color-#{'' + $palette}-#{'' + $grade} {
      color: getColorVar($palette, $grade);
    }
    .bg-#{'' + $palette}-#{'' + $grade} {
      background-color: getColorVar($palette, $grade);
    }
    .border-#{'' + $palette}-#{'' + $grade} {
      border-color: getColorVar($palette, $grade);
    }
    .fill-#{'' + $palette}-#{'' + $grade} {
      fill: getColorVar($palette, $grade);
    }
  }
}

@each $grade, $_ in map-get($shadows, nth(map-keys($shadows), 1)) {
  // Shadows
  .shadow-#{'' + $grade} {
    box-shadow: var(--shadow-#{'' + $grade});
  }
}



