:root {
  --scrollbar-track-color: var(--color-global-bgcard);
  --scrollbar-color: var(--color-text-40);
  --scrollbar-side: var(--spacing-12);
}

* {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-side);
  height: var(--scrollbar-side);
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: calc(var(--scrollbar-side) / 2);
  background-color: var(--scrollbar-color);
  border: solid var(--scrollbar-track-color);
  border-width: var(--spacing-4);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-50);
  border-width: var(--spacing-2);
}

*::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-track-color);
}
