@use 'sass:map';

@function map-collect($key, $maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map.merge($collection, map.get($map, $key));
  }
  @return $collection;
}

@function getColorVar($palette, $grade) {
  @return var(--color-#{$palette}-#{$grade});
}

@mixin generateButtonForPalette($paletteName) {
  .button_primary.button-#{'' + $paletteName} {
    background-color: getColorVar($paletteName, '50');

    &.hover,
    &:hover {
      background-color: getColorVar($paletteName, '60');
    }

    &.active,
    &:active {
      background-color: getColorVar($paletteName, '70');
    }
  }

  .button_ghost.button-#{'' + $paletteName} {
    color: getColorVar($paletteName, '90');
    fill: getColorVar($paletteName, '90');
    background-color: transparent;

    &.hover,
    &:hover {
      background-color: getColorVar($paletteName, '5');
    }

    &.active,
    &:active {
      background-color: getColorVar($paletteName, '10');
    }
  }

  .button_outline.button-#{'' + $paletteName} {
    color: getColorVar($paletteName, '90');
    fill: getColorVar($paletteName, '90');
    border-color: getColorVar($paletteName, '10');
    border-style: solid;
    border-width: 1px;
    background-color: transparent;

    &.hover,
    &:hover {
      background-color: getColorVar($paletteName, '5');
    }

    &.active,
    &:active {
      background-color: getColorVar($paletteName, '10');
    }
  }
}
