@use '../../style/mixins';

.tooltip {
  @include mixins.fontBody3();

  pointer-events: none;
  padding: var(--spacing-8);
  background-color: var(--color-global-bgcard);
  color: var(--color-text-90);
  border: 1px solid var(--color-text-5);
  border-radius: var(--radius-8);
  text-align: center;
  max-width: calc(6 * var(--spacing-30));
  overflow: hidden;
  white-space: break-spaces;
  box-shadow: var(--shadow-2);
}
