.container {
  --sidebar-width: 300px;
  --main-bg: var(--color-global-bgcard);
  --row-height: 60px;

  position: relative;
  overflow: hidden;
  height: calc(100vh - 32px);
  min-height: calc(100vh - 32px);
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);
    height: var(--scrollbar-side);
    background-color: var(--main-bg);
  }

  .timeline {
    overflow-x: scroll;
    background-color: var(--color-text-5);
  }
}
