.container {
  --sidebar-width: 296px;
  --main-bg: var(--color-global-bgcard);
  --dates: calc(2 * var(--spacing-16));
  --row-height: calc(2 * var(--spacing-26));

  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  border-top: 1px solid var(--color-text-5);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);
    height: var(--scrollbar-side);
    background-color: var(--main-bg);
  }

  .timeline {
    overflow-x: scroll;
    background-color: var(--color-global-bgmain);

    &Content {
      position: relative;
      padding-top: 32px;
    }
  }
}
