.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
  border-radius: var(--radius-4);
  padding: var(--spacing-2) var(--spacing-6);
  border: 1px solid var(--color);
  color: var(--color);
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s, background-color 0.2s, border 0.2s;

  &Stroke {
    background-color: transparent;
  }

  &Fill {
    background-color: var(--bg-color);
  }
}
