.root {
  --track: calc(2 * var(--spacing-16));

  height: var(--row-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-text-5);

  .track {
    position: relative;
    display: flex;
    height: var(--track);

    &Item {
      position: absolute;
      max-height: var(--track);
      display: flex;
      align-items: center;
      border-radius: var(--radius-4);
      overflow: hidden;
    }

    .milestone {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      &Top {
        padding: 0 var(--spacing-8);
        height: calc(var(--track) / 2);
        display: flex;
      }

      &Bottom {
        position: relative;
        height: calc(var(--track) / 2);

        &Item {
          position: absolute;
          padding-left: var(--spacing-6);
          height: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
