.stack {
  display: inline-flex;
  height: auto;

  .divider {
    position: relative;
    width: 1px;
    height: inherit;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &ColumnDirection {
    .divider {
      width: inherit;
      height: 1px;
    }
  }

  &Wrap {
    flex-wrap: wrap;
  }

  &Block {
    width: 100%;
  }
}
