.stack {
  display: inline-flex;
  height: auto;

  .divider {
    position: relative;
    width: 1px;
    height: inherit;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      width: 100%;
      height: var(--spacing-16);
      background-color: var(--color-text-10);
    }
  }

  &ColumnDirection {
    .divider {
      width: inherit;
      height: 1px;

      &::after {
        width: var(--spacing-16);
        height: 100%;
      }
    }
  }

  &Wrap {
    flex-wrap: wrap;
  }

  &Block {
    width: 100%;
  }
}
