@use '../../style/mixins';

.radio {
  @include mixins.fontBody3();

  display: inline-flex;
  align-items: flex-end;
  gap: var(--spacing-8);
  color: var(--color-text-90);
  cursor: pointer;
  transition: color 0.2s;

  .input {
    position: relative;
    flex: 0 0 var(--spacing-16);
    width: var(--spacing-16);
    height: var(--spacing-16);
    border-radius: 50%;
    background-color: var(--color-global-white);
    border: 1px solid var(--color-primary-50);
    box-shadow: 0 0 0 0 transparent;
    transition:
      border 0.2s,
      background-color 0.2s,
      box-shadow 0.2s;

    .checked {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid var(--color-primary-50);
    }
  }

  &:hover {
    .input {
      background-color: var(--color-primary-5);
    }
  }

  &.disabled {
    color: var(--color-text-50);

    .input {
      border-color: var(--color-text-30);
      background-color: var(--color-text-5);

      .checked {
        border-color: var(--color-text-30);
      }
    }
  }

  input[type='radio'] {
    opacity: 0;
    width: 1em;
    height: 1em;
    position: absolute;
    pointer-events: none;

    &:focus-visible {
      + * {
        box-shadow: 0 0 0 4px var(--color-primary-10);
      }
    }
  }
}
