.radio {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-8);
  font-size: var(--font-body3-font-size);
  text-decoration: var(--font-body3-text-decoration);
  font-family: var(--font-body3-font-family);
  font-weight: var(--font-body3-font-weight);
  font-style: var(--font-body3-font-style);
  font-stretch: var(--font-body3-font-stretch);
  letter-spacing: var(--font-body3-letter-spacing);
  text-transform: var(--font-body3-text-case);
  color: var(--color-text-90);
  cursor: pointer;
  transition: color 0.2s;

  .input {
    position: relative;
    flex: 0 0 var(--spacing-16);
    width: var(--spacing-16);
    height: var(--spacing-16);
    border-radius: 50%;
    background-color: var(--color-global-bgcard);
    border: 1px solid var(--color-primary-50);
    box-shadow: 0 0 0 0 transparent;
    transition: border 0.2s, background-color 0.2s, box-shadow 0.2s;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0 solid var(--color-primary-50);
      transition: border 0.1s;
    }
  }

  &:hover {
    .input {
      background-color: var(--color-primary-5);
    }
  }

  &Checked {
    .input {
      &::before {
        border-width: 3px;
      }
    }
  }

  &.disabled {
    color: var(--color-text-50);

    .input {
      border-color: var(--color-text-30);
      background-color: var(--color-text-5);

      &::before {
        border-color: var(--color-text-30);
      }
    }
  }

  input[type='radio'] {
    opacity: 0;
    width: 1em;
    height: 1em;
    position: absolute;
    pointer-events: none;

    &:focus-visible {
      + * {
        box-shadow: 0 0 0 4px var(--color-primary-10);
      }
    }
  }
}
