@import 'react-components/src/style/mixins';

.tabs {
  --highlight-width: var(--spacing-2);

  overflow: hidden;

  .nav {
    grid-area: nav;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    .navItem {
      margin: 0;

      &Button {
        @include fontButton2;

        position: relative;
        border: none;
        width: 100%;
        display: inline-flex;
        align-items: center;
        gap: var(--spacing-6);
        color: var(--color-text-40);
        box-shadow: inset 0 0 0 0 transparent;
        transition: color 0.2s, box-shadow 0.2s;

        &:focus-visible {
          box-shadow: inset 0 0 0 4px var(--color-primary-10);
        }

        &:not(:disabled) {
          cursor: pointer;
        }

        &:not(&Selected):not(:disabled):hover {
          color: var(--color-text-70);
        }

        &Selected {
          color: var(--color-text-90);
        }

        &:disabled {
          color: var(--color-text-30);
        }

        a {
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        &Small {
          padding: var(--spacing-6) var(--spacing-12);
        }

        &Large {
          padding: var(--spacing-18) var(--spacing-16);
        }
      }
    }
  }

  .highlightContainer {
    grid-area: high;
    position: relative;
    height: var(--highlight-width);
  }

  .content {
    grid-area: content;
    padding: var(--spacing-24) var(--spacing-16);
    margin: 0;
  }

  &Left {
    display: grid;
    grid-template-columns: var(--highlight-width) auto 1fr;
    grid-template-areas: 'high nav content';

    .nav {
      flex-direction: column;
    }

    .highlightContainer {
      width: var(--highlight-width);
      height: auto;
    }
  }
}
