:root {
  --primary-font: 'Inter', sans-serif;
}

body {
  font-family: var(--primary-font);
}

.sb-show-main.sb-main-padded,
.sbdocs.sbdocs-wrapper {
  background-color: var(--color-global-bgmain);
  transition: background-color 0.4s;
}

.sbdocs.sbdocs-wrapper ol li,
.sbdocs.sbdocs-wrapper ul li {
  margin: 0.5em 0;
}
.sbdocs.sbdocs-wrapper a {
  color: var(--color-primary-50);
  cursor: pointer;
}
#storybook-root {
  height: auto;
}