@use '@tetacom/themes/src/base/presets.scss' as base;
@use '@tetacom/themes/src/tatneft/presets.scss' as tatneft;
@use '@tetacom/themes/src/green/presets.scss' as greenPreset;
@use '@tetacom/themes/src/util.scss';

$themes: util.map-collect(
  'themes',
  tatneft.$presets,
  base.$presets,
  greenPreset.$presets
);
$shadows: util.map-collect(
  'shadow',
  tatneft.$presets,
  base.$presets,
  greenPreset.$presets
);

@use '@tetacom/themes/src/generate.scss' with (
  $themes: util.map-collect(
      'themes',
      tatneft.$presets,
      base.$presets,
      greenPreset.$presets
    ),
  $shadows: util.map-collect(
      'shadow',
      tatneft.$presets,
      base.$presets,
      greenPreset.$presets
    )
);
