@import 'react-components/src/style/mixins';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-6);
  border: 1px solid transparent;
  position: relative;
  color: var(--color-global-white);
  padding: 0 var(--spacing-10);
  border-radius: var(--radius-btn-round);
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
  //TODO стоит завести токены с транзишенами
  transition: background 0.2s, color 0.2s, border 0.2s;

  .child {
    height: 100%;
    display: flex;
    align-items: center;
    transition: opacity 0.2s, transform 0.2s;
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  &Shape {
    &Brick {
      border-radius: var(--radius-field-brick);
    }

    &Round {
      border-radius: var(--radius-field-round);
    }

    &Circle {
      border-radius: var(--radius-field-circle);
      padding: 0 var(--spacing-12);
    }
  }

  &Size {
    &Large {
      @include fontButton1;

      height: var(--spacing-32);
    }

    &Middle {
      @include fontButton2;

      height: var(--spacing-28);
    }

    &Small {
      @include fontButton3;

      height: var(--spacing-24);
      gap: var(--spacing-4);
      padding: var(--spacing-8);
    }
  }

  &Block {
    width: 100%;
  }

  &Square {
    padding: 0;
    aspect-ratio: 1;
  }

  &Loading {
    .child {
      opacity: 0;
      transform: scale(0.5);
    }
  }

  &File {
    input {
      display: none;
    }
  }

  &:hover:enabled {
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-primary-10);
    transition: background 0.4s, box-shadow 0.2s;
  }

  &.disabled {
    &Primary {
      background-color: var(--color-text-30);
    }

    &Outline {
      border-color: var(--color-text-30);
      color: var(--color-text-30);
    }

    &Ghost {
      color: var(--color-text-30);
      background-color: transparent;
    }
  }
}
