.dropdownTrigger {
  display: inline-block;
}

.dropdownContent {
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-8);
  border: 1px solid var(--color-text-5);
  overflow: hidden;
  z-index: 1;
}
