@use '../../style/mixins';

.typo {
  color: var(--color-text-90);
  transition: color 0.2s;

  &.resetMargin {
    margin: 0;
  }

  &H1 {
    @include mixins.fontH1;
  }

  &H2 {
    @include mixins.fontH2;
  }

  &H3 {
    @include mixins.fontH3;
  }

  &H4 {
    @include mixins.fontH4;
  }

  &H5 {
    @include mixins.fontH5;
  }

  &H6 {
    @include mixins.fontH6;
  }

  &Title1 {
    @include mixins.fontTitle1;
  }

  &Title2 {
    @include mixins.fontTitle2;
  }

  &Title3 {
    @include mixins.fontTitle3;
  }

  &Body1 {
    @include mixins.fontBody1;
  }

  &Body2 {
    @include mixins.fontBody2;
  }

  &Body3 {
    @include mixins.fontBody3;
  }

  &Caption {
    @include mixins.fontCaption;
  }

  &CaptionBold {
    @include mixins.fontCaptionBold;
  }

  &Overline {
    @include mixins.fontOverline;
  }
}
