@import 'react-components/src/style/mixins';

.chip {
  @include fontCaption;

  display: inline-flex;
  align-items: center;
  gap: var(--spacing-6);
  max-width: calc(10 * var(--spacing-24));
  padding: var(--spacing-6) var(--spacing-8);
  border-radius: var(--spacing-14);
  transition: background-color 0.2s, color 0.2s;
  cursor: default;

  &WithImage {
    padding-left: var(--spacing-12);
  }

  &Clickable {
    cursor: pointer;
  }

  &View {
    &Default {
      background-color: var(--color-text-5);
      color: var(--color-text-90);

      &:hover {
        background-color: var(--color-text-10);
      }

      &:active {
        background-color: var(--color-text-20);
      }

      .closeIcon {
        &:hover {
          color: var(--color-text-70);
        }
      }
    }

    &Primary {
      background-color: var(--color-primary-5);
      color: var(--color-primary-50);

      &:hover {
        background-color: var(--color-primary-10);
        color: var(--color-primary-60);
      }

      &:active {
        background-color: var(--color-primary-20);
        color: var(--color-primary-70);
      }

      .closeIcon {
        &:hover {
          color: var(--color-primary-90);
        }
      }
    }

    &Outline {
      background-color: var(--color-global-bgcard);
      outline: 1px solid var(--color-text-10);
      color: var(--color-text-90);

      &:hover {
        background-color: var(--color-text-5);
        outline-color: var(--color-text-10);
      }

      &:active {
        background-color: var(--color-text-10);
        outline-color: var(--color-text-20);
      }

      .closeIcon {
        &:hover {
          color: var(--color-text-70);
        }
      }
    }
  }

  .picture {
    margin-top: calc(-1 * var(--spacing-6));
    margin-bottom: calc(-1 * var(--spacing-6));
    margin-left: calc(-1 * var(--spacing-12));
    flex: 0 0 var(--spacing-28);
    height: var(--spacing-28);
  }

  .icon,
  .closeIcon {
    flex: 0 0 var(--spacing-16);
    display: flex;
    align-items: center;
    color: inherit;

    svg {
      width: var(--spacing-16);
      height: var(--spacing-16);
    }
  }

  .closeIcon {
    cursor: pointer;
  }

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
