.result {
  justify-content: center;
  padding: var(--spacing-24);
  width: 100%;

  .picture {
    font-size: 0;

    img {
      max-width: 100%;
    }
  }

  .title {
    margin: 0;
  }

  .subtitle {
    margin: 0;
  }
}
