.toggle {
  border: none;
  width: var(--spacing-28);
  height: var(--spacing-16);
  border-radius: var(--spacing-8);
  background-color: var(--color-text-20);
  color: var(--color-text-20);
  display: flex;
  justify-content: flex-start;
  padding: var(--spacing-2);
  box-shadow: 0 0 0 0 transparent;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:enabled {
    cursor: pointer;
  }

  &:hover {
    background-color: var(--color-text-30);
  }

  &:active {
    background-color: var(--color-text-40);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-primary-10);
  }

  &.disabled {
    background-color: var(--color-text-5);
    color: var(--color-text-5);
  }

  &Checked {
    justify-content: flex-end;
    background-color: var(--color-primary-50);
    color: var(--color-primary-50);

    &:hover {
      background-color: var(--color-primary-60);
    }

    &:active {
      background-color: var(--color-primary-70);
    }

    &.disabled {
      background-color: var(--color-primary-5);
      color: var(--color-primary-5);
    }
  }

  .handle {
    width: var(--spacing-12);
    height: var(--spacing-12);
    border-radius: 50%;
    background-color: var(--color-global-bgmain);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
