.highlight {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: var(--color-primary-50);
  transition: background-color 0.2s;

  &Disabled {
    background-color: var(--color-text-30);
  }
}
