.slider {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;

  &Control {
    align-items: center;
    display: inline-flex;
    position: relative;
    width: 100%;
  }
}

.button {
  background-color: var(--color-primary-50);
  border: 2px solid var(--color-global-bgcard);
  cursor: pointer;
  width: var(--spacing-16);
  height: var(--spacing-16);
  border-radius: 50%;
  left: var(--pointer-left);
  padding: 0;
  position: absolute;
  z-index: 1;
  box-shadow: var(--shadow-1);
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    background-color: var(--color-primary-60);
  }

  &:active {
    background-color: var(--color-primary-70);
  }
}

.line {
  border-radius: var(--radius-2);
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: var(--spacing-4);

  &Active {
    height: 100%;
    background-color: var(--color-primary-50);
    width: var(--line-width);
  }

  &InActive {
    height: 100%;
    background-color: var(--color-text-20);
    width: var(--line-width);
  }
}
