@mixin field {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--spacing-8);
  font-size: var(--font-body3-font-size);
  font-family: var(--font-body3-font-family);
  font-weight: var(--font-body3-font-weight);
  font-style: var(--font-body3-font-style);
  font-stretch: var(--font-body3-font-stretch);
  letter-spacing: var(--font-body3-letter-spacing);
  line-height: var(--font-body3-line-height);
  text-transform: var(--font-body3-text-case);
}

.input {
  .content {
    display: inline-flex;
    flex-direction: column;
    gap: var(--spacing-12);

    &Left {
      flex-direction: row;
      gap: var(--spacing-16);
      align-items: center;
    }
  }

  .label {
    font-size: var(--font-caption-bold-font-size);
    text-decoration: var(--font-caption-bold-text-decoration);
    font-family: var(--font-caption-bold-font-family);
    font-weight: var(--font-caption-bold-font-weight);
    font-style: var(--font-caption-bold-font-style);
    font-stretch: var(--font-caption-bold-font-stretch);
    letter-spacing: var(--font-caption-bold-letter-spacing);
    line-height: var(--font-caption-bold-line-height);
    text-transform: var(--font-caption-bold-text-case);
  }

  .field {
    position: relative;
    overflow: hidden;

    input {
      @include field;

      border: none;
      background-color: var(--color-text-5);
      height: 100%;
    }

    .placeholder {
      @include field;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &Size {
    &Large {
      height: var(--spacing-32);
    }

    &Middle {
      height: var(--spacing-28);
    }

    &Small {
      height: var(--spacing-24);
    }
  }

  &Shape {
    &Brick {
      border-radius: var(--radius-field-brick);
    }

    &Round {
      border-radius: var(--radius-field-round);
    }

    &Circle {
      border-radius: var(--radius-field-circle);
    }
  }

  &Error {
    .field {
      border-color: var(--color-red-50);
    }
  }

  .errorMessage {
    color: var(--color-red-50);
  }
}
