.root {
  overflow: scroll;
  background-color: var(--main-bg);
  border-right: 1px solid var(--color-text-5);

  &::-webkit-scrollbar {
    inline-size: 0;
  }

  .patch {
    position: sticky;
    top: 0;
    height: var(--dates);
    background-color: var(--main-bg);
    border-bottom: 1px solid var(--color-text-5);
  }
}
