.root {
  position: absolute;
  top: 0;
  height: var(--dates);
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--color-text-10);
  overflow-x: scroll;
  z-index: 1;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .dates {
    position: relative;
    display: flex;
    flex-direction: column;

    .scale {
      display: grid;
      height: calc(var(--dates) / 2);

      &Item {
        display: flex;
        align-items: center;
      }
    }
  }
}
