.root {
  padding: var(--spacing-20);
  display: grid;
  grid-template-columns: max-content repeat(3, auto);
  gap: var(--spacing-32);

  p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: var(--color-text-90);
    transition: color 0.4s;
  }
}
