@import 'react-components/src/style/mixins';

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    background-color: var(--color-global-bgcard);
    padding: var(--radius-6) var(--radius-8);
  }

  thead th {
    border-bottom: 1px solid var(--color-text-5);
  }

  thead th {
    @include fontCaptionBold;

    color: var(--color-text-60);
  }

  tbody tr {
    &:nth-child(2n) {
      td {
        background-color: var(--color-global-bgmain);
      }
    }

    td {
      @include fontBody3;

      color: var(--color-text-90);
      white-space: nowrap;
    }
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
