.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    padding: var(--radius-6) var(--radius-8);
  }

  thead th,
  tfoot th {
    font-size: var(--font-caption-semi-font-size);
    text-decoration: var(--font-caption-semi-text-decoration);
    font-family: var(--font-caption-semi-font-family);
    font-weight: var(--font-caption-semi-font-weight);
    font-style: var(--font-caption-semi-font-style);
    font-stretch: var(--font-caption-semi-font-stretch);
    letter-spacing: var(--font-caption-semi-letter-spacing);
    text-transform: var(--font-caption-semi-text-case);
    color: var(--color-text-60);
  }

  tbody tr {
    background-color: var(--color-global-white);

    &:nth-child(2n) {
      background-color: var(--color-global-bgmain);
    }

    td {
      font-size: var(--font-body3-font-size);
      text-decoration: var(--font-body3-text-decoration);
      font-family: var(--font-body3-font-family);
      font-weight: var(--font-body3-font-weight);
      font-style: var(--font-body3-font-style);
      font-stretch: var(--font-body3-font-stretch);
      letter-spacing: var(--font-body3-letter-spacing);
      text-transform: var(--font-body3-text-case);
    }
  }
}
