@import 'react-components/src/style/mixins';

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    background-color: var(--color-global-bgcard);
    padding: var(--radius-6) var(--radius-8);
    transition: background-color 0.2s ease-in-out;
  }

  thead th {
    @include fontCaptionBold;

    color: var(--color-text-60);
    border-bottom: 1px solid var(--color-text-5);
  }

  tbody {
    tr {
      &:nth-child(2n) {
        td {
          background-color: var(--color-global-bgmain);

          //background: linear-gradient(
          //  90deg,
          //  rgba(0, 0, 0, 0.06) 25%,
          //  rgba(0, 0, 0, 0.15) 37%,
          //  rgba(0, 0, 0, 0.06) 63%
          //);
          //background-size: 400% 100%;
          //
          //animation-name: shine;
          //animation-duration: 1.4s;
          //animation-timing-function: ease;
          //animation-iteration-count: infinite;
        }
      }

      td {
        @include fontBody3;

        vertical-align: top;
        color: var(--color-text-90);
        max-width: var(--cell-max-width);

        > span {
          display: -webkit-box;
          -webkit-line-clamp: var(--cell-vert-clamp);
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      &:hover {
        td {
          background-color: var(--color-primary-5);
        }
      }

      &.active {
        td {
          background-color: var(--color-primary-10);
        }
      }
    }
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.loadTable {
  tbody {
    tr {
      &:nth-child(2n) {
        td {
          background-color: var(--color-global-bgcard);

          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.06) 25%,
            rgba(0, 0, 0, 0.15) 37%,
            rgba(0, 0, 0, 0.06) 63%
          );
          background-size: 400% 100%;

          animation-name: shine;
          animation-duration: 1.4s;
          animation-timing-function: ease;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

@keyframes shine {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
